.navbar-nav .dropdown-menu {
	width: 100%;
}
.hours {
	text-align: center;
}
.hours p {
	width: 400px;
}
.location {
	text-align: center;
}
#info {
	margin-top: 5%;
}
#contactform {
	text-align: center;
	margin: 3% 0;
}
#contactform input {
	display: block;
	margin: 3%;
}
.form-group {
	width: 60%;
}
textarea {
	margin-bottom: 3%;
}