html {
	max-width: 100%;
}
.navbar-nav .dropdown-menu {
	width: 100%;
}
.hours {
	text-align: center;
	
}
#info {
	margin-top: 5%;
	margin-left: 8%;
}

@media (min-width: 800px){
	.hoursbody {
		margin-left: 8rem;
	}
	.location {
		padding-left: 3rem;
	}
}
@media(max-width: 700px){
	.hoursbody {
		margin-left: 20%;
	}
	.hours {
		margin: 0;
	}
	#info {
		margin-left: auto;
	}
}
.hours p {
	text-align: left;
	width: 85%;
	margin-left: 3rem;
	font-family: 'Avenir', Arial, sans-serif;
}
.hoursinfo {
	margin-top: 1rem;
}
.hoursinfo span {
	color: #83B271;
}


#contactform {
	text-align: center;
	margin: 4% 0;
	padding-bottom: 5%;
}
#contactform input {
	display: block;
	margin: 3%;
}
.form-group {
	width: 60%;
}
textarea {
	margin-bottom: 3%;
}

#submitbtn
{
	margin-left: 300px;
}

@media (max-width: 700px){
	.hoursinfo{
		padding-left: 0rem;
		margin: 0 auto;
	}
	.hours p {
		width: 100%;
		margin: 0 auto;
	}
	.location {
		width: 100%;
		text-align: center;
		padding: 0 0;
	}
	.hoursbody {
		padding: 2em 0;
	}
	.form-group {
		width: 80%;
	}
	#contactform {
		text-align: center;
		padding-bottom: 10%;
	}
	.hours {
		text-align: center;
	}
}

.hide {
	display: none;
}
