.navbar-nav .dropdown-menu {
	width: 100%;
}
.hours {
	text-align: center;
	
}
.hours p {
	width: 80%;
	text-align: left;
}
.hoursinfo {
	padding-left: 10rem;
}
.location {
	padding-left: 3rem;
}
#info {
	margin-top: 5%;
	margin-left: 8%;
}
#contactform {
	text-align: center;
	margin: 4% 0;
	padding-bottom: 5%;
}
#contactform input {
	display: block;
	margin: 3%;
}
.form-group {
	width: 60%;
}
textarea {
	margin-bottom: 3%;
}

#submitbtn
{
	margin-left: 300px;
}

@media (max-width: 700px)
{
	.hoursinfo{
		padding-left: 0rem;
		margin: 0 auto;
	}
	.hours p {
		width: 100%;
		margin: 0 auto;
	}
	.location {
		width: 100%;
		padding-left: 0;
	}
	.hoursbody {
		padding: 2em 0;
	}
}