img{
  text-align: center;
  margin: 0 auto;
}

.greenpic {
  width: 50%;
  height: auto;
  box-sizing: border-box;
   padding: 5vw 5vw 0vw 5vw;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.greencontent {
  width: 100%;
  padding: 5vw 5vw 0vw 5vw;
  box-sizing: border-box;
  background-color: white;
  position: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.jobfair {
  width:100%;
  padding: 5vw 0vw 0vw 5vw;
  box-sizing: border-box;
  background-color: white;
  position: center;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.annualearth {
  width:100%;
  padding: 5vw 5vw 0vw 5vw;
  box-sizing: border-box;
  background-color: white;
  position: center;
  text-align: left;
}

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: center;
    text-align: center;
}

.content {
    padding: 0 10vw;
    display: none;
    width: 100%;
    overflow: hidden;
    position: center;
margin-left: auto;
  margin-right: auto;
  text-align: left;
}

@media (max-width: 700px){
  img
  {
    width: 100%;
    margin: 0 auto;
  }
  .greenpic
  {
    width: 100%;

  }
  .collapsible
  {
    width: 100%;
    height: auto;
  }
}