
 header.masthead#contactus
 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/stock2.jpeg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

    .col-centered {
      float: none;
      margin: 0 auto;
  }
    /* margin-left: auto; margin-right: auto; */

 header.masthead#getinvolved
 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/stock3.jpeg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }