header.masthead
{
  text-shadow: 0px 1px 2px #000000;
}

 header.masthead#memberorghead
 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/stock2.jpeg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header.masthead#teamhead
  {
     padding-top: 10rem;
     padding-bottom: calc(10rem - 56px);
     background-image: url("../img/headerstock.jpeg");
     background-position: center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }
 
 
 header.masthead#contactus
 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/stock2.jpeg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

    /* margin-left: auto; margin-right: auto; */

 header.masthead#getinvolved
 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/stock3.jpeg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header.masthead#newsletter
 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/letter.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

header.masthead#events
 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/naturebanner.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

header.masthead#calendar
 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/calendar.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

 header.masthead#annualearth
 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/greenearth.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

header.masthead#recyclemania
 {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-image: url("../img/recycle.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
