/******************
NAV BAR
*******************/ 

@font-face {
	font-family: "Avenir";
	src: url("fonts/Avenir/Avenir-Book-01.ttf") format("truetype"); 
}

@font-face{
	font-family: "Hiragino";
	font-weight: 700;
	src: url("fonts/Hiragino/HiraginoW8.otf") format("opentype");
}

@font-face{
	font-family: "Aileron-Bold";
	src: url("fonts/Aileron/Aileron-Bold.ttf") format("truetype");
}

@font-face{
	font-family: "Aileron-SemiBold";
	src: url("fonts/Aileron/Aileron-SemiBold.ttf") format("truetype");
}


@font-face{
	font-family: "Aileron-Black";
	src: url("fonts/Aileron/Aileron-Black.ttf") format("truetype");
}



#navLogo {
	width: 160px;
	height: auto;
	margin-left: 5em;
}

@media (max-width: 992px) {

	.left {
		display: block;
		max-width: 100%;
	}


	.right {
		display: block;
		max-width: 100%;
	}

	#headImg {
		max-width: 100%;
	}

	#logo {
		max-width: 30%;
	}
	header.masthead {
		padding-top: 3.5rem;
		max-height: 25rem;

	}
	#about p {
		font-size: 12px;
	}
	section {
		padding: 1.75rem;
	}
	

}


#headertag {
	max-height: 89%;
	background-color: #8AAE92;
}

header .row{
	max-height: 78vh;
	padding-bottom: 0;
	margin-bottom: 0;
}

header h3 {
	font-family: 'Aileron-Black', Arial, sans-serif;
	font-size: 1.8em;
	margin: 0;
	padding: 0;
	line-height: .9em;
}

header h5{
	font-family: 'Aileron-SemiBold', sans-serif;
}
#council {
	font-size: 5em;
}
.nav-item {
	font-family: 'Avenir', Arial, sans-serif;
	font-weight: lighter;
	margin: 0 30px;
	text-align: left;	
}

#headImg {
	max-height: 100%;
	width: 100%;
}

.left {
	color: black;
	max-height: 100%;
	width: 100%;
}

#about p {
	text-align: left !important;
}
#about b {
	font-size: 20px;
}

#about {
	padding-top: 3rem;
}

.dropbtn {
    background-color: white;
    padding: 16px;
}


.dropdown {
    position: relative;
	display: inline-block;
	font-family: 'Avenir', Arial, sans-serif;
	font-weight: lighter;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

#foot {
	background-color: #EBEBE9;
}

#about b {
	color: green;
}
#header h3 {
	color: #E3E6DA;
}
#header h5 {
	color: #C0CEB2;
}
.dropbtn a:hover {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 992px){

	.dropdown-content a:hover {
		display: none;
	}
	#logo {
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding-bottom: 15px;
	}
	#about b {
		font-size: 14px;
	}

}
@media (min-width: 992px){
	#header {
		background-color: #83B271;
	}
}
.navbar-brand {
	max-width: 20vw;
}
.navbar-toggler {
	background-color: #e6e6e6;
}
.navbar-nav {
	margin-left: 15%;
}
.navbar {
	postion: absolute;
}

.value {
	width:60%;
	padding-bottom: 15px;
}

.valuefont
{
	font-family: 'Aileron-Bold', sans-serif;
}

#footer {
	width: 20%;
	margin: auto 5%;
	position: absolute;
	left: 0;
}

@media (max-width: 992px){
	#footer {
	width: 35%;
	}
}

form input {
	padding: .375em .75em;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	width: 100%;
}
#submitbtn {
	float: right;
	margin-right: 30%;
	margin-bottom: 1rem;
}

#email {
	width: 55%;
	margin: 15px 0;
}

@media (max-width: 992px){
	#email {
		width: 100%;
	}
	.navbar-nav {
		margin: 0;
	}
}

#subscription {
	font-style: 'Impact', sans-serif;
	padding: 6vh;
	margin-bottom: 8vh;
}

.social i {
	padding: 10px;
	color: #589058;
}

.sectiondiv {
	border-color: #989898;
	border-width: 1px;
	max-width:60%;
}

 .col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}

.block {
	width: 306px;
	height: 230px;
}

.red {background: red;}

.blue {background: blue;}

.green {background: green;}

.yellow {background: yellow;}

/*

*/


.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}

.block {
	width: 306px;
	height: 230px;
}

.red {background: red;}

.blue {background: blue;}

.green {background: green;}

.yellow {background: yellow;}