.team-section
{
  width: 80%;
  margin: 0 auto;
}
.team-section p {
	font-size: 1rem;
	padding: 0;
}

.card
{
  margin: 0 auto;
  max-width: 180px;
  border: none;
}  

.card>div {
	display: none;
}

.card:hover>div {
	display: block;
}

.card-text {
	font-size: 0.3rem;
	text-align: left;
}
.card-body {
	width: 250px;
}
@media (max-height: 992px){
	.img-fluid:after {
		content:'';
	    width: 0; 
	    height: 0; 
	    border-left: 20px solid transparent;
	    border-right: 20px solid transparent;   
	    border-top: 20px solid #f00;
	    position:absolute;
	    left:50%;
	    top:0;
	    transform:translatex(-50%);
	}
}
