* {
	font-family: 'Avenir', Arial, sans-serif;
}
.team-section
{
  width: 80%;
  margin: 0 auto;
}
.team-section {
	font-size: 1rem;
	padding: 0;
}

.card
{
  margin: 0 auto;
  max-width: 180px;
  border: none;
} 
@media (min-width: 701px){
	.card>div {
		display: none;
	}

	.card:hover>div {
		display: block;
	}
}


#directions
{ 
  width: 50%;
  height: auto;
  margin: 0 auto;
}



.card-body hr {
	text-align: center;
}

.card-text {
	text-align: left;
	font-size: 0.8rem;
}
.card-body {
	width: 250px;
	margin-left: -25%;
	padding-top: 0;
}
.card-title {
	margin-left: -7%;
	font-weight: bold;
}
.section-heading {
	margin-top: 5%;
}
#EJA {
	margin-left: -22%;
}
@media (max-width: 700px){
	.card-body {
		margin-left: -20%;
		padding: 0 0 0 0.75rem;
		display: none;
	}
	.show {
		display: block;
	}

	#directions
	{
		width: 85%;
	}

	
}
