@font-face{
	font-family: "Aileron-Bold";
	src: url("fonts/Aileron/Aileron-Bold.ttf") format("truetype");
}

@font-face{
	font-family: "Aileron-SemiBold";
	src: url("fonts/Aileron/Aileron-SemiBold.ttf") format("truetype");
}
html {
	max-width: 100%;
}
.member {
	margin: -.5em 0;
	/*border-radius: 5%;*/
	padding: 10px 0;
}
.member img {
	min-width: 50%;
	max-width: 50%;
	/*border-radius: 6px;*/
}

.info {
	line-height: 8px;
	font-size: 12px;
	margin-left: 76px;
	padding: 15px 0;
	width:95%;

}

.card-body {
	padding-bottom: 0rem;
}
.card-body h5 {
	font-family: 'Avenir', Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3rem;
}
.card-body p {
	font-family: 'Avenir', Arial, sans-serif;
	color: #5A8F3A;
	font-size: 0.8rem;
}
.card-title {
	margin-bottom: 0;
}
.social-media i{
	padding: 15px 10px;
	color: #5A8F3A;
}
.social-media a {
	margin: 0 8px;
	color: #5A8F3A;
}
.social-media i:hover {
	color: #4e6241;
}
.social-media {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 200px;
}

span {
	font-weight: bold;
	font-size: 13px;
}

#teammem {
	width: 70%;
	margin: 0 7%;
}

.container {
	padding: 0 0;
}
@media (min-width: 992px){
	.container {
	    max-width: 5000px;
	}
	#teammem {
		margin: 4% 7%;
		padding: 0;
	}
	.card:hover img {
		opacity: 0.2;
	}
	.card:hover .social-media {
		opacity: 1;
	}
	.icon {
		display: none;
	}
	.card:hover .social-media {
		display: block;
	}
	.card .social-media {
		display: none;
	}
}

.social {
	margin-right: 5rem;
}
.pizza
{
	width: 87%;
	margin: 0 14%;
	padding-bottom: 1.5rem;
}
.card {
	margin: 0 1.6rem;
	border-radius: 0;
}
.card-img-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.wrapper {
	position: relative;
}
#desktop {
	display: block;
}
#mobile {
	display: none;
}

@media (max-width: 997px){
	.info {
		line-height: 7px;
		margin-left: 16vw;
	}
	.member {
		margin: .75rem 0;
		border: 0;
	}
	#teammem {
		border: 0;
		margin: 0;
	}
	.team-section {
		padding: 0.35rem;
	}
	.pizza {
		margin: 0 auto;
		padding-bottom: 0;
	}
	.card {
		margin-bottom: 1rem;
	}
	#top {
		margin-top: 1.5rem;
	}
	#bottom {
		margin-bottom: 1.5rem;
	}

	.icon {
		color: #5A8F3A;
		position: absolute;
	    top: 16px;
	    right: 16px;
	}
	#mobile {
		display: block;
		text-align: left;
		margin-top: 0.5rem;
	}
	#mobile a {
		padding-right: 15px;
	}
	#desktop {
		display: none;
	}
	.card-text {
		margin-bottom: 0;
	}
	.card-body {
		padding-bottom: 0.75rem;
		padding-right: 0.75rem;
	}
	
	
}