@font-face{
	font-family: "Aileron-Bold";
	src: url("fonts/Aileron/Aileron-Bold.ttf") format("truetype");
}

@font-face{
	font-family: "Aileron-SemiBold";
	src: url("fonts/Aileron/Aileron-SemiBold.ttf") format("truetype");
}


.member {
	margin: .75em 0;
	border-radius: 5%;
	padding: 10px 0;
}
.member img {
	width: 50%;
	border-radius: 2px;
}

.info {
	line-height: 8px;
	font-size: 12px;
	margin-left: 76px;
	padding: 15px 0;
	width:95%;

}
.member-header h1 {
	font-family: 'Aileron-Bold', Arial, sans-serif;
	font-size: 30px;
	padding-top: 10px;
}
.member-header h6 {
	font-family: 'Aileron-SemiBold', Arial, sans-serif;
	color: #83B271;
	padding-bottom: 5px;
}
.social-media i{
	padding: 15px 12px;

}
span {
	font-weight: bold;
	font-size: 13px;
}
.social {
	width: 90%;
}

#teammem {
	width: 70%;
	margin: 0 7%;
}

.container {
	padding: 0 0;
}
@media (min-width: 992px){
.container {
    max-width: 5000px;
}
#teammem {
	margin: 4% 7%;
	padding: 0;
}
}


@media (max-width: 997px){
	.info {
		line-height: 7px;
		margin-left: 16vw;
	}
	.member {
		margin: .75rem 0;
		border: 0;
	}
	#teammem {
		border: 0;
		margin: 0;
	}

}